[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
